@model MVCBank.Models.User
@{
    ViewData["Title"] = "Crear usuario";
}

<link rel="stylesheet" href="../Views/styles.css" />

<h1>@ViewData["Title"]</h1>
<p>En esta página se muestran las opciones para crear el usuario</p>
<form method="post">
    <div class="col-md-6">
        <label>Nombre</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label>Email</label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    
    <div class="col-5">
        <label>Contraseña</label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    
    <div class="col-5">
        <label>Teléfono</label>
        <input asp-for="Phone" class="form-control">
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    
    <div class="col-5">
        <label>Rol</label>
        <input asp-for="Role" class="form-control">
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    
    <div class="col-5">
        <label>DNI</label>
        <input asp-for="DNI" class="form-control">
        <span asp-validation-for="DNI" class="text-danger"></span>
    </div>
    
    <div class="row" style="margin-top: 1rem">
        <div class="col-12">
            <button type="submit" asp-action="Create" class="btn btn-outline-primary">Guardar</button>
            <a asp-action="Index" class="btn btn-outline-primary">Regresar</a>
        </div>
    </div>
</form>
